@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="card mx-auto">
        <div class="card-body ">
            <h5 class="card-title text-md-center">Marie Antons</h5>
            <h6 class="card-subtitle mb-2 text-muted text-md-center">Junior Developer at STRATAFOLIO</h6>
            <p class="card-text text-md-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
                <a class="btn btn-primary" href="https://github.com/mrsantons" role="button">GitHub</a>
                <a class="btn btn-primary" href="https://www.linkedin.com/in/marieantons/" role="button">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
