@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


   

<body>
   
    <div class="bodyContainer">

            <text>Async Inn</text>

        <span class="logo"></span>
        <aside>
            <form>
                <div>
                    <label for="username" class="visually-hidden">Username: </label>
                    <input class="username" id="password" placeholder="Username" />
                </div>
                <div>
                    <label for="password" class="visually-hidden">Password: </label>
                    <input class="password" id="password" placeholder="Password" />
                </div>
                <div>
                    <input type="submit" />
                </div>
            </form>
        </aside>


        @*<div>
            <img class="col-md-auto mb-1" src="~/css/Photos/bda2.jpg" />
        </div>
        <div class="d-flex flex-row">
            <div>
                <img class="col-sm-12 m-0 pr-1" src="~/css/Photos/bda.jpg" />
            </div>
            <div>
                <img class="col-sm-12 mb-0 pl-0 " src="~/css/Photos/bda3.jpg" />
            </div>
        </div>*@



    </div>
</body>

