@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Async Inn</h1>
</div>
<body class="home">
    <div>
        <img class="col-md-auto mb-1" src="~/css/Photos/bda-2.jpg" />
    </div>
    <div class="d-flex flex-row">
        <div>
            <img class="col-sm-12 m-0 pr-1" src="~/css/Photos/bda.jpg" />
        </div>
        <div>
            <img class="col-sm-12 mb-0 pl-0 " src="~/css/Photos/bda-4.jpg" />
        </div>
    </div>

</body>

